<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><h3>भूमि की तैयारी</h3>

        चने की खेती दोमट भूमि से मटियार भूमि में सफलतापूर्वक की जा सकती है। चने की खेती हल्की से भारी भूमि में भी की
        जाती है, किन्तु अधिक जलधारण एवं उचित जलनिकास वाली भूमि सर्वोत्तम रहती है। मृदा का पी-एच मान 6-7.5 उपयुक्त रहता
        है। असिंचित अवस्था में माSनसून शुरू होने के पूर्व गहरी जुताई करने से रबी के लिए भी नमी संरक्षण होता है। एक जुताई
        मिट्‌टी पलटने वाले हल तथा 2 जुताई देसी हल से की जाती है, पिफर पाटा चलाकर खेत को समतल कर लिया जाता है।

        <h3>किस्में</h3>
        प्रमुख किस्में

        समय पर बुआई के लिए-जी.एनजी. 1581 (गणगौर), जी.एन.जी. 1958 (मरुधर), जी.एन.जी. 663, जी.एन.जी. 469, आर.एस.जी. 888,
        आर.एस.जी. 963, आरएस.जी. 973, आर.एस.जी. 986, देरी से बुआई के लिए-जी.एन.जी. 1488, आर.एसजी. 974, आर.एस.जी. 902,
        आर.एस.जी. 945 प्रमुख हैं।

        काबुली चना-
        · एल 550 : यह 140 दिनों में पकने वाली किस्म है। इसकी उपज 10 से 13 क्विंटल/हेक्टेयर है। इसके 100 दानों का वजन 24
        ग्राम है।

        · सी-104 : यह किस्म 130-135 दिनों में पककर तैयार हो जाती है। यह औसतन 10 से13 क्विंटल/हेक्टेयर उपज देती है। इसके
        100 दानों का वजन 25-30 ग्राम होता है।

        अन्य किस्में: जी.एन.जी. 1669 (त्रिवेणी), जी.एन.जी. 1499, जी.एन.जी. 1992।

        <h3>चने की बुआई का समय</h3>
        10 अक्टूबर से 5 नवम्बर

        <h3>बीज की मात्रा</h3>
        मोटे दानों वाला चना 80-100 कि.ग्रा. प्रति हेक्टेयर, सामान्य दानों वाला चना 70-80 कि.ग्रा. प्रति हेक्टेयर काबुली
        चना (मोटा दाना) 100-120 कि.ग्रा./हेक्टेयर।

        <h3>बीजोपचार</h3>
        बीज को पहले रासायनिक फफूंदीनाशक से उपचारित करने के बाद जैविक कल्चर से छाया में उपचारित कर तुरंत बुआई करें, जिससे
        जैविक बैक्टीरिया जीवित रह सकें।
        फसल को उकठा रोग से बचाने के लिए बीज को बुआई के पूर्व फफूंदीनाशक वीटावैक्स पॉवर, कैप्टॉन, थीरम या प्रोवेक्स में
        से कोई एक 3 ग्राम दवा प्रति किलो बीज की दर से उपचारित करें। इसके पश्चात एक किलो बीज में राइजोबियम कल्चर तथा
        ट्राइकोडर्मा विरडी 5-5 ग्राम मिलाकर उपचारित करें।
        बीज की अधिक मात्रा को उपचारित करने के लिए, सीड ड्रेसिंग ड्रम का उपयोग करें, जिससे बीज एक समान उपचारित हो सके।
        <h3>उर्वरक</h3>
        अच्छी पैदावार के लिए 20-25 टन सड़ी गोबर की खाद खेत की तैयारी के समय खेत में मिलाएं। उर्वरकों का प्रयोग मिट्‌टी
        परीक्षण के आधार पर करें। नाइट्रोजन 20 कि.ग्रा. प्रति हेक्टेयर (100 कि.ग्रा. डाई अमोनियम फॉस्पेफट),फॉस्फोरस 50
        कि.ग्रा. प्रति हेक्टेयर, जिंक सल्फेट 25 कि.ग्रा. प्रति हेक्टेयर।

        <h3>देशी किस्में</h3>
        जे.जी. 315: यह किस्म 125 दिनों में पककर तैयार हो जाती है। औसत उपज 12 से 15 क्विंटल/हेक्टेयर है। इसके 100 दानों
        का वजन 15 ग्राम है एवं बीज का रंग बादामी है तथा देर से बोने के लिए उपयुक्त किस्म है।
        विजयः सर्वाधिक उपज देने वाली 90-105 दिनों में तैयार होने वाली यह किस्म है। यह सिंचित व असिंचित क्षेत्रों के लिए
        उपयुक्त है। इस किस्म में अधिक शाखायें व मध्यम ऊंचाई वाले पौधे होते हैं। उपज क्षमता 24-45 क्विंटल/हेक्टेयर है।
        जी.एन.जी.-2171 (मीरा) : राजस्थान, हरियाणा, पंजाब, दिल्ली जैसे उत्तरी- पश्चिमी मैदानी सिंचित क्षेत्रों के लिए
        अधिसूचित किस्म। दाना मध्यम आकार व सुनहरे रंग का, जड़ गलन, विल्ट व झुलसा रोग के प्रति सहनशील। लगभग 150 दिनों में
        पककर तैयार होती है और उपज 24 क्विंटल प्रति हेक्टेयर है।
        जी.एन.जी-2144 (तीज): राजस्थान के उत्तर-पश्चिमी मैदानी क्षेत्रों के लिए अधिसूचित यह किस्म दोहरे फूल व 20 से 25
        प्रतिशत दोहरी फली वाली है। देरी से बुआई योग्य इस किस्म की दिसंबर के पहले सप्ताह में भी बुआई कर सकते हैं। बुआई के
        130 से 135 दिनों में तैयार होने के साथ ही इसकी औसत उपज 23 क्विंटल प्रति हेक्टेयर है।
        <h3>बुआई की विधि</h3>
        चने की बुआई कतारों में करें। 7 से 10 सें.मी. गहराई पर बीज डालें। कतार से कतार की दूरी 30 सें.मी. (देसी चने के
        लिए) तथा 45 सें.मी. (काबुली चने के लिए)।

        <h3>खरपतवार नियंत्रण</h3>
        फ्लूक्लोरेलिन 200 ग्राम (सक्रिय तत्व) का बुआई से पहले या पेंडीमेथालीन 350 ग्राम (सक्रिय तत्व) का अंकुरण से पहले
        300-350 लीटर पानी में घोल बनाकर एक एकड़ में छिड़काव करें। पहली निराई-गुड़ाई बुआई के 30-35 दिनों बाद तथा दूसरी
        55-60 दिनों बाद आवश्यकतानुसार करें।

       <h3> सिंचाई</h3>
        आमतौर पर चने की खेती असिंचित अवस्था में की जाती है। चने की फसल के लिए कम जल की आवश्यकता होती है। चने में जल
        उपलब्धता के आधार पर पहली सिंचाई फूल आने के पूर्व अर्थात बोने के 45 दिनों बाद एवं दूसरी सिंचाई दाना भरने की
        अवस्था पर अर्थात बोने के 75 दिनों बाद करनी चाहिए।

        <h3>अन्य समस्याएं</h3>
        ·सूत्राकृमि सूत्राकृमि के प्रकोप से पौधा अविकसित रह जाता है। जड़ें छोटी रह जाती हैं और उत्पादन प्रभावित होता है।
        नियंत्रण के लिए गर्मियों में गहरी जुताई करें, प्रतिरोधी किस्म का चयन करें। गैर-दलहनी फसलों जैसे मक्का, धान या
        मूंगफली को फसलचक्र में शामिल करें। रासायनिक नियंत्रण प्रकाेप के आधार पर 10-15 कि.ग्रा. कार्बाेफ्यूरॉन प्रति एकड़
        का प्रयोग करें।
        उपज


        चने की शुद्ध फसल से प्रति हेक्टेयर लगभग 20-25 क्विंटल दाना एवं इतना ही भूसा प्राप्त होता है। काबुली चने की
        पैदावार देसी चने से तुलना में थोड़ी कम होती है।

        <h3>पौध संरक्षण</h3>

        माहूं व चेंपा माहूं व चेंपा, पौधे का रस चूसकर इसे कमजोर करते हैं। इनके नियंत्रण के लिए 5 ग्राम थायोमेथाक्जम 25
        डब्ल्यूजी जैसे एकतारा, अनंत या 5 ग्राम इमिडाक्लोप्रिड 70 डब्ल्यू.जी. एडमायर या एडफायर का प्रति 15 लीटर पानी में
        मिलाकर छिड़काव करें।

        कटुआ सूंडी

        इस कीट की रोकथाम के लिए 200 मि.ली. फेनवालरेट (20 ई.सी.) या 125 मि.ली. साइपरमैथ्रीन (25 ई.सी.) को 250 लीटर पानी
        में मिलाकर प्रति हेक्टेयर की दर से आवश्यकतानुसार छिड़काव करें।

        फलीछेदक
        उकठा रोग निरोधक किस्मों का प्रयोग करना चाहिए।
        प्रभावित क्षेत्रों में फसलचक्र अपनाना लाभकर होता है।
        प्रभावित पौधे को उखाड़कर नष्ट करना अथवा गड्‌ढे में दबा देना चाहिए
        बीज को कार्बेन्डाजिम 2.5 ग्राम या ट्राइकोडर्मा विरडी से 4 ग्राम/कि.ग्रा. बीज की दर से उपचारित कर बोना चाहिए।
        पौधों का पीलापन व मुरझान
        पीलापन तथा मुरझान की समस्या के नियत्रांण के लिए 45 ग्राम कॉपर आक्सीक्लारोइड या 30 ग्राम कार्बेन्डेजिम प्रति 15
        लीटर पानी में मिलाकर जमीन में दें अथवा 100 ग्राम थायोफैनेट मिथाइल, 70 प्रतिशत डब्ल्यू.पी. प्रति एकड़ 200 लीटर
        पानी में छिड़कें।

        अल्टरनेरिया झुलसा रोग
        फूल व फली बनते समय अल्टरनेरिया झुलसा रोग हो सकता है। इससे पत्तियों पर छोटे, गोल-बैंगनी धब्बे बनते हैं। यह नमी
        अधिक होने से पूरी पत्ती पर फैल जाता है। नियंत्रण केलिए 3 ग्राम मैन्कोजेब, 75 प्रतिशत डब्ल्यू.पी. या 2 ग्राम
        मेटालैक्सिल 8 प्रतिशत मैन्कोजेब, 64 प्रतिशत (संचार या रिडोमिल) प्रति लीटर पानी में छिड़कें।

        <h3>फसल कटाई से जुड़ी जानकारी</h3>
        · परिपक्व अवस्थाः जब पौधे के अधिकतर भाग और फलियां लाल भूरी हो कर पक जाएं तो कटाई करें। खलिहान की सफाई करें और
        फसल को धूप में कुछ दिनों तक सुखायें तथा गहाई करें। भंडारण के लिए दानों में 12-14 प्रतिशत से अधिक नमी नहीं होनी
        चाहिए

        · भंडारणः चने के भंडारण हेतु भंडार गृह की सफाई करें तथा दीवारों एवं फर्श की दरारों को मिट्‌टी या सीमेंट से भर
        दें। चूने की पुताई करें तथा 15 दिनों के अंतराल पर 2-3 बार 10 मि.ली. मेलाथियान 50 प्रतिशत ई.सी. प्रति लीटर पानी
        के घोल का 3 लीटर/100 वर्ग मीटर की दर से दीवार तथा फर्श पर छिड़काव करें।

        · अनाज भंडारण के लिए बोरियों को मेलाथियान 10 मि.ली./लीटर पानी के घोल में डुबोकर सुखाएं। इसके बाद ही अनाज को
        बोरियो में भरें।


        · भंडारण कीट के नियंत्रण के लिए एल्यूमिनियम फॉस्फाइड की गोली 3 ग्राम/टन की दर से भंडारगृह में धूम्रित करें। बीज
        के लिए फसल की गहाई अलग से करके तथा अच्छी तरह सुखाकर भंडारण के लिए मैलाथियान 5 प्रतिशत डस्ट 250 ग्राम/100
        कि.ग्रा. अनाज में मिलाएं।</p>
</body>

</html>