<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            /* border: solid 2px black; */
            height: 350px;
            background-image: url("images\ \(3\).jpg");
            background-repeat: no-repeat;
            background-size: 1800px 600px;
            border-radius: 20px;



        }

        a {
            text-decoration: none;
            color: black;
            font-size: 25px;
            padding-left: 50px;
            font-weight: bold;
        }

        .butt {
            height: 400px;
            color: yellow;
            background-image: url("images.png");
            background-repeat: no-repeat;
            background-position-x: 20px;
            background-position-y: 40px;


        }

        .head {
            text-align: center;
            font-size: 50px;
            height: 50px;
            border: solid 2px black;
            border-radius: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            color: red;
            background-color: black;

        }

        .l {
            margin-left: 500px;
            margin-top: 100px;

        }

        #text {
            font-weight: bold;
            font-size: 24px;
        }

        #parth {
            font-size: 20px;
            border-radius: 20px;
            text-align: center;
        }

        #o {
            border: 2pxsolid black;
            border-radius: 20px;
            background-color: black;
            color: white;
            text-align: center;
            width: 100px;
        }
        #button {
            border: 2px solid black;
            position: fixed;
            margin-left: 90%;
            height: 30px;
            width: 70px;
            border-radius: 10px;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 20px;

        }
        #submit{
            margin-left: 200px;
            font-size: 20px;
            border-radius: 10px;

        }
        .l{
            border: solid black 2px;
            width: 550px;
            margin-left: 30%;
            padding: 50px;
            border-radius: 10px;
            background-color: yellow;
        }
        .b{
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <div class="head">
        <strong>
            <tr>h</tr>&nbsp;<tr>a</tr>&nbsp;<em>
                <tr>k</tr>&nbsp;
            </em>
            <tr>c</tr>&nbsp;<tr>e</tr>&nbsp;<em>
                <tr>z</tr>
            </em>
        </strong>
    </div>
    <div class="container">
        <div class="butt">
            <a id="button" href="/login">Login<a>
            <div class="b">
                <a href="/" class="sticky">Home</a>
                <a href="/contactus" class="sticky">Contact Us</a>
                <a href="/cropinfo" class="sticky">Crop Info</a>
                <a href="" class="sticky">Photos</a>
                <a href="/learning" class="sticky">Learn processing</a>
                <a href="/review" class="sticky">Review</a>
            </div>
            <!-- <h1 class="shet">शेतकरी राजा</h1> -->
        </div>
    </div>
    <div class="l">
        <span id="text">Crop name</span> &nbsp;&nbsp; 
        <input type="text" placeholder="search your crop here" id="parth">
        <br>
        <br>
        <br>
        <br>
        <input id="submit" type="submit"  onclick="vit()">
        
    </div>
    <script src="script.js"></script>
</body>

</html>