<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            /* border: solid 2px black; */
            height: 350px;
            background-image: url("images\ \(3\).jpg");
            background-repeat: no-repeat;
            background-size: 1800px 600px;
            border-radius: 20px;



        }

        a {
            text-decoration: none;
            color: black;
            font-size: 25px;
            padding-left: 50px;
            font-weight: bold;
        }

        .butt {
            height: 400px;
            color: yellow;
            background-image: url("images.png");
            background-repeat: no-repeat;
            background-position-x: 20px;
            background-position-y: 40px;


        }

        #button{
            border: 2px solid black;
            position: fixed;
            margin-left: 90%;
            height: 30px;
            width: 70px;
            border-radius: 10px;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            padding-left: 10px;

        }

        .para {
            margin-left: 480px;
            margin-top: 70px;
            font-size: 50px;
            color: #ffff00;
            font-weight: bold;
            
        }
        

        #para {
            margin-left: 580px;
            font-size: 50px;
        }

        .head {
            text-align: center;
            font-size: 50px;
            height: 50px;
            border: solid 2px black;
            border-radius: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            color: red;
            background-color: black;

        }

        #why {
            margin-left: 550px;
            margin-top: 50px;
            width: 350px;
            border: solid 2px black;
            text-align: center;
            background-color: white;
            border-radius: 20px;
        }

        .hello {
            margin-left: 130px;
            font-size: 20px;
            display: grid;
            grid-template-columns: 400px 400px 400px;
            padding-left: 50px;
        }

        .box {
            border: solid 2px black;
            margin-left: 30px;
            width: 300px;
            margin-top: 100px;
            text-align: center;
            background-color: black;
            color: white;
            border-radius: 20px;

        }

        .container2 {
            display: grid;
            grid-template-columns: 710px 710px;
            font-size: 22px;

            background-size: 1500px 550px;
            background-repeat: no-repeat;

            font-weight: bold;
            opacity: 0.9;
            display: grid;
            grid-template-columns: 710px 710px;
            background-color: blanchedalmond;
            text-decoration-color: blue;
        }

        #agri {
            margin-left: 41%;
            border: solid black 2px;
            width: 200px;
            border-radius: 20px;
            text-align: center;
        }

        #paru {
            font-size: 20px;
            border-bottom: solid black 2px;
            border-right: black solid 2px;

            margin-left: 10px;
        }

        #paro {
            font-size: 20px;
            border-bottom: solid black 2px;
           padding-left: 20px;
        }
        a:hover{
            color: red;
        }
        h1:hover{
            background-color: red;
        }
        #rowdy{
            color: azure;
        }
    </style>
</head>

<body>
    <div class="head">
        <strong>
            <tr>h</tr>&nbsp;<tr>a</tr>&nbsp;<em>
                <tr>k</tr>&nbsp;
            </em>
            <tr>c</tr>&nbsp;<tr>e</tr>&nbsp;<em>
                <tr>z</tr>
            </em>
        </strong>
    </div>
    <div class="container">
        <div class="butt">
            <span style="color: black;">Hi <span id="parth"></span></span>
            <a id="button" href="/login"><h4 id="rowdy"> Logout</h4></a>
            <div class="b">
                <a action="./Home.html" href="/" class="sticky">Home</a>
                <a href="/contactus" class="sticky">Contact Us</a>
                <a href="/cropinfo" class="sticky">Crop Info</a>
                <a href="" class="sticky">Photos</a>
                <a href="/learning" class="sticky">Learn processing</a>
                <a href="/review" class="sticky">Review</a>
            </div>
            <div class="jangam">
                <p class="para">Offering best plateform</p>
                <p class="para" id="para">for farmers!!</p>
            </div>
            <!-- <h1 class="shet">शेतकरी राजा</h1> -->
        </div>
    </div>
    <h1 id="agri">Agriculture</h1>
    <div class="container2">
        <p id="paru">Agriculture or farming is the practice of cultivating plants and livestock.[2] Agriculture was the
            key
            development in the rise of sedentary human civilization, whereby farming of domesticated species created
            food surpluses that enabled people to live in cities. The history of agriculture began thousands of years
            ago. After gathering wild grains beginning at least 105,000 years ago, nascent farmers began to plant them
            around 11,500 years ago. Pigs, sheep, and cattle were domesticated over 10,000 years ago. Plants were
            independently cultivated in at least 11 regions of the world. Industrial agriculture based on large-scale
            monoculture in the twentieth century came to dominate agricultural output, though about 2 billion people
            still depended on subsistence agriculture.The major agricultural products can be broadly grouped into foods,
            fibers, fuels and raw materials (such as
            rubber). Food classes include cereals (grains), vegetables, fruits, oils, meat, milk, eggs and fungi. Over
            one-third of the world's workers are employed in agricultur.AgricultureAgriculture, with its allied sectors,
            is unquestionably the largest livelihood provider in India, more so in the vast rural areas. It also
            contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of
            food security, rural employment, and environmentally sustainable technologies such as soil conservation,
            sustainable natural resource management and biodiversity protection, are essential for holistic rural
            development. Indian agriculture and allied activities have witnessed a green revolution, a white revolution,
            a yellow revolution and a blue revolution.
            This section provides the information on agriculture produces; machineries, research etc. Detailed
            information on the government policies, schemes, agriculture loans, market prices, animal husbandry,
            fisheries, horticulture, loans & credit, sericulture etc. is also available.
        </p>
        <p id="paro">
            e, second only to the service sector, although in
            recent decades, the global trend of a decreasing number of agricultural workers continues, especially in
            developing countries where smallholding is being overtaken by industrial agriculture and mechanization that
            brings an enormous crop yield increase.Modern agronomy, plant breeding, agrochemicals such as pesticides and
            fertilizers, and technological developments have sharply increased crop yields, but causing ecological and
            environmental damage. Selective breeding and modern practices in animal husbandry have similarly increased
            the output of meat, but have raised concerns about animal welfare and environmental damage. Environmental
            issues include contributions to global warming, depletion of aquifers, deforestation, antibiotic resistance,
            and growth hormones in industrial meat production. Agriculture is both a cause of and sensitive to
            environmental degradation, such as biodiversity loss, desertification, soil degradation and global warming,
            all of which can cause decreases in crop yield. Genetically modified organisms are widely used, although
            some are banned in certain countries.Vizianagaram District is predominantly an agricultural district as
            68.4% of the workers are engaged in Agriculture and about 82% of the population of the District is living in
            Rural area s and depend on agriculture for their livelihood. Rainfed farming is the characteristic of
            Agriculture in the District as about 80% of its area is cultivated purely under Rainfed conditions. Even the
            rest of the area which is termed as irrigated area is mostly dependent on the rainfall received in the
            District.

            In view of the unassured irrigation conditions in the district majority of crops grown are dry crops. The
            major crops grown in the District are Paddy, Ragi, Bajra, Sugarcane, Pulses, Mestha, Cotton, Maize, Korre
            Chillies, Seasonal Tobbaco and Groundnut. Paddy crop is cultivated mainly during Kharif season with 80% of
            its area under tankfed conditions which in turn depend on the local rainfall. 

        </p>
    </div>
    <h1 id="why">Why you choose Us?</h1>
    <div class="hello">
        <span id="box1" class="box">
            <h4>INNOVATION</h4>
            <p>KH data storage is strong from 7 years ago it helps to found and resolve the issue related to crop
                farming and yielding.</p>
        </span>
        <span id="box2" class="box">
            <h4>RESEARCH DATA</h4>
            <p>Agriculture innovation is the need of farming growth and the growth of farmers is our goal, please visit
                our portal daily.</p>
        </span>
        <span id="box3" class="box">
            <h4>LIVE SUPPORT & SOLUTIONS</h4>
            <p>Availability for 24*7 farmers can share their problem on APP and they will receive resolution in provided
                timeline.</p>
        </span>
    </div>
    <script src="user.js" ></script>
</body>

</html>