<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: beige;
        }
       a{
        text-decoration: none;
        padding-top: 100px;
        font-size: 25px;
        margin-left: 100px;
        color: black;
        font-weight: bold;
        
    }
    .b{
        color: yellow;
        
    }
    .container{
     
        /* border: solid 2px black; */
        height: 350px;
        background-image: url("a08fde1a5b62749ada7453ec27af12cd.jpg");
        background-repeat: no-repeat;
        background-size: 1800px 400px;
        border-radius: 20px;

    }
    .shet{
        margin-left: 32%;
        margin-top: 130px;
        font-size: 75px;
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
        font-family: 'Cuprum', sans-serif;
        color: yellow;
    	text-decoration: underline;
        /* font-size: 16px; */
        
    }
    .butt{
         height: 400px;
         color: yellow;
         background-image : url("images.png");
         background-repeat: no-repeat;
        background-position-x: 20px;
        background-position-y: 40px;

         
    }
   .process{
       display: flex;
       flex-wrap: wrap;  
       justify-content: space-around;
            
       font-size: 40px;
       padding-top: 100px;
       text-align: center;
       margin-left: 0%;
    
   }
    .i{
        /* margin-left: 0%; */
        padding: 50px;
        border: solid black 2px ;padding-top: 100px;
        width: 250px;
        height: 150px;
        border-radius: 20px;

        
            
    }
    #p{
        background-image: url("download.jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        font-size: 30px;
    }
    #r{
        background-image: url("download\ \(1\).jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        font-size: 30px;
    }
    #t{
        background-image: url("download\ \(2\).jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        font-size: 30px;
    }
    #h{
        background-image: url("download\ \(3\).jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        font-size: 30px;
    }
    #j{
        background-image: url("download\ \(4\).jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        font-size: 30px;
    }
    #n{
        background-image: url("download\ \(5\).jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        font-size: 30px;
    }
    #g{
        background-image: url("images\ \(1\).jpg");
        background-repeat: no-repeat;
        background-size: 350px 350px;
        padding-top: 20px;
        height: 240px;
        font-size: 30px;
    }
    #m{
        background-image: url("images\ \(2\).jpg");
        background-size: 350px 350px;
        background-repeat: no-repeat;
        font-size: 30px;

    }
    #head{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 0%;
        font-size: 40px;
        font-weight: bold;
    }
    .sticky{
        position: sticky;
    }
    #button{
        
        position: fixed;
        margin-left: 90%;
        
        border-radius: 10px;
        
        color: white;
        font-weight: bold;
        font-size: 20px;
        

    }
    a:hover{
        color: red;
        opacity: 0.8;
        
    }
    h1:hover{
        background-color: red;
    }
    button:hover{
        background-color: white;
        color: black;
    }
    .head{
            text-align: center;
            font-size: 50px;
            height: 50px;
            border: solid 2px black;
            border-radius: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            color: red;
            background-color: black;
            
        }
    </style>
</head>
<body>
    <div class="head">
        <strong>
        <tr>h</tr>&nbsp;<tr>a</tr>&nbsp;<em><tr>k</tr>&nbsp;</em><tr>c</tr>&nbsp;<tr>e</tr>&nbsp;<em><tr>z</tr></em>
    </strong>
    </div>
    <div class="container">
        <a id="button" href="/login">Login</a>
        <div class="butt">
            
            <div class="b">
                <a href="/" class="sticky">Home</a>
                <a href="/contactus"class="sticky">Contact Us</a>
                <a href="/cropinfo"class="sticky">Crop Info</a>
                <a href=""class="sticky">Photos</a>
                <a href="/learning"class="sticky">Learn processing</a>
                <a href="/review" class="sticky">Review</a>
            </div>
            <!-- <h1 class="shet">शेतकरी राजा</h1> -->
        </div>
    </div>
    <h1 id="head">प्रक्रियाये</h1>
    <div class="process">
            <a href="" id="p" class="i" >जुताई (Tillage)</a>
            <a href="" id="r" class="i">बुआई (Sowing)</a>
            <a href="" id="t" class="i">खाद डालना (Mannuring)</a>
            <a href="" id="h" class="i">सिंचाई (Irrigation)</a>
            <a href="" id="j" class="i">निंदाई (Interculture)</a>
            <a href="" id="n" class="i">फसल की रक्षा (Plant Protection)</a>
            <a href="" id="g" class="i">फसल की कटाई (Harvesting))</a>
            <a href="" id="m" class="i">भण्डारण (Storage)</a>
        </div>
    
</body>
</html>