<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <style>
          .head {
            text-align: center;
            font-size: 50px;
            height: 50px;
            border: solid 2px black;
            border-radius: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            color: red;
            background-color: black;

        }
        .container {
            /* border: solid 2px black; */
            height: 350px;
            background-image: url("images\ \(3\).jpg");
            background-repeat: no-repeat;
            background-size: 1800px 600px;
            border-radius: 20px;



        }

        a {
            text-decoration: none;
            color: black;
            font-size: 25px;
            padding-left: 50px;
            font-weight: bold;
        }

        .butt {
            height: 400px;
            color: yellow;
            background-image: url("images.png");
            background-repeat: no-repeat;
            background-position-x: 20px;
            background-position-y: 40px;


        }

        #button {
            border: 2px solid black;
            position: fixed;
            margin-left: 90%;
            height: 30px;
            width: 70px;
            border-radius: 10px;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            padding-left: 10px;

        }

        .para {
            margin-left: 480px;
            margin-top: 70px;
            font-size: 50px;
            color: #ffff00;
            font-weight: bold;
            
        }
        

        #para {
            margin-left: 580px;
            font-size: 50px;
        }
        .form-control{
            width: 1400px;
            height: 300px;
        }
        .lav{
            margin-top: 50px;
            margin-left: 600px;
            font-size: 25px;
        }

    </style>
</head>
<body>
    <div class="head">
        <strong>
            <tr>h</tr>&nbsp;<tr>a</tr>&nbsp;<em>
                <tr>k</tr>&nbsp;
            </em>
            <tr>c</tr>&nbsp;<tr>e</tr>&nbsp;<em>
                <tr>z</tr>
            </em>
        </strong>
    </div>
    <div class="container">
        <div class="butt">
            <a id="button" href="/login">Login</a>
            <div class="b">
                <a action="./Home.html" href="/" class="sticky">Home</a>
                <a href="/contactus" class="sticky">Contact Us</a>
                <a href="/cropinfo" class="sticky">Crop Info</a>
                <a href="" class="sticky">Photos</a>
                <a href="/learning" class="sticky">Learn processing</a>
                <a href="/review" class="sticky">Review</a>
            </div>
            <div class="jangam">
                <p class="para">Offering best plateform</p>
                <p class="para" id="para">for farmers!!</p>
            </div>
            <!-- <h1 class="shet">शेतकरी राजा</h1> -->
        </div>
    </div>
    <div>
        <h1 style="margin-left: 50px;">Enter your reviews here</h1>
    </div>
    <div class="m3" style="margin: 50px;">
        <form action="/review/submit" method="post">
        <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" name="notes" rows="3"></textarea>
            <button class="lav" type="submit">Submit</button>
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>