<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            margin-left: 38%;
        }
        a{
            text-decoration: none;
            margin-left: 580px;
            border: solid black 2px;
            border-radius: 20ex;
            text-align: center;
            font-size: 18px;
            width: 300px;
            color: black;
        }
    </style>
</head>

<body>
    <h1>गेहूँ की खेती कैसे करे?</h1>
    <a href="/cropinfo/gehu/english"> click here to read in english</a>
    <p><h3> जलवायु:-</h3>
        गेहूँ के खेती में बुआई के वक्त कम तापमान और फसल पकते समय शुष्क और गर्म वातावरण की जरूरत होती हैं। इसलिए गेहूँ की
        खेती ज्यादातर अक्टूबर या नवम्बर के महीनों में की जाती हैं।

        <h3>भूमि का चुनाव/तैयारी</h3>
        गेहूँ की खेती करते समय भूमि का चुनाव अच्छे से कर लेना चाहिए । गेहूँ की खेती में अच्छे फसल के उत्पादन के लिए
        मटियार दोमट भूमि को सबसे सर्वोत्तम माना जाता है । लेकिन पौधों को अगर सही मात्रा में खाद दी जाए और सही समय पर
        उसकी सिंचाई की जाये तो किसी भी हल्की भूमि पर गेहूँ की खेती कर के अच्छे फसल की प्राप्ति की जा सकती है । खेती से
        पहले मिट्टी की अच्छे से जुताई कर के उसे भुरभुरा बना लेना चाहिए फिर उस मिट्टी पर ट्रैक्टर चला कर उसे समतल कर देना
        चाहिए

        <h3> बुआई:- </h3>
        गेहूँ की खेती में बीज बुआई का सही समय 15 नवम्बर से 30 नवम्बर तक होता है । अगर बुआई 25 दिसम्बर के बाद की जाये तो
        प्रतिदिन लगभग 90kg प्रति हेक्टेयर के दर से उपज में कमी आ जाती है । बीज बुआई करते समय कतार से कतार की दूरी 20cm
        होनी चाहिए ।

        <h3>बीजोपचार:- </h3>
        गेहूँ की खेती में बीज की बुआई से पहले बीज की अंकुरण क्षमता की जांच ज़रूर से कर लेनी चाहिए अगर गेहूँ की बीज
        उपचारित नहीं है तो बुआई से पहले बीज को किसी फफूंदी नाशक दवा से उपचारित कर लेना चाहिए ।

        <h3> खाद प्रबंधन:- </h3>
        गेहूँ की खेती में समय पर बुआई करने के लिए 120kg नाइट्रोजन(nitrogen), 60kg स्फुर(sfur) और 40kg पोटाश(potash) देने
        की आवश्यकता पड़ती है । 120kg नाइट्रोजन के लिए हमें कम से कम 261kg यूरिया प्रति हेक्टेयर का इस्तेमाल करना चाहिए ।
        60kg स्फुर के लिए लगभग 375kg single super phoshphate(SSP) और 40kg पोटाश देने के लिए कम से कम 68kg म्यूरेटा पोटाश
        का इस्तेमाल करना चाहिए ।

       <h3> सिंचाई प्रबंधन :-</h3>
        अच्छी फसल की प्राप्ति के लिए समय पर सिंचाई करना बहुत जरूरी होता है । फसल में गाभा के समय और दानो में दूध भरने के
        समय सिंचाई करनी चाहिए । ठंड के मौसम में अगर वर्षा हो जाये तो सिंचाई कम भी कर सकते है । कृषि वैज्ञानिको के
        मुताबिक जब तेज हवा चलने लगे तब सिंचाई को कुछ समय तक रोक देना चाहिए । कृषि वैज्ञानिको का ये भी कहना है की खेत में
        12 घंटे से ज्यादा देर तक पानी जमा नहीं रहने देना चाहिए ।
        गेहूँ की खेती में पहली सिंचाई बुआई के लगभग 25 दिन बाद करनी चाहिए । दूसरी सिंचाई लगभग 60 दिन बाद और तीसरी सिंचाई
        लगभग 80 दिन बाद करनी चाहिए ।

        <h3>खरपतवार:-</h3>
        गेहूँ की खेती में खरपरवार के कारण उपज में 10 से 40 प्रतिशत कमी आ जाती है । इसलिए इसका नियंत्रण बहुत ही जरूरी
        होता है । बीज बुआई के 30 से 35 दिन बाद तक खरपतवार को साफ़ करते रहना चाहिए । गेहूँ की खेती में दो तरह के खरपतवार
        होते है पहला सकड़ी पत्ते वाला खरपतवार जो की गेहूँ के पौधे की तरह हीं दिखता है और दूसरा चौड़ी पत्ते वाला खरपतवार
        ।
        इसके नियंत्रण हेतु 2 -4 डी का छिड़काव करे।

        <h3>खड़ी फसल की देखभाल;-</h3>
        कृषि वैज्ञानिको का कहना है की गेहूँ का गिरना यानी फसल के उत्पादन में कमी आना । इसलिए किसानों को खड़ी फसल का खास
        ख्याल रखना चाहिए और हमेशा सही समय पर फफूंदी नाशक दवा का इस्तेमाल करते रहना चाहिए और खरपतवार का नियंत्रण करते
        रहना चाहिए ।

        <h3>फसल की कटाई :-</h3>
        गेहूँ का फसल लगभग 125 से 130 दिनों में पक कर तैयार हो जाता है। फसल पकने के बाद सुबह सुबह फसल की कटनी करना चाहिए
        फिर उसका थ्रेसिंग करना चाहिए । थ्रेसिंग के बाद उसको सुखा लें । जब बीज पर 10 से 12 % नमी हो तभी इसका भंडारण करनी
        चाहिए ।जलवायु:-
        गेहूँ के खेती में बुआई के वक्त कम तापमान और फसल पकते समय शुष्क और गर्म वातावरण की जरूरत होती हैं। इसलिए गेहूँ की
        खेती ज्यादातर अक्टूबर या नवम्बर के महीनों में की जाती हैं।

        
        <h3>खरपतवार:-</h3>
        गेहूँ की खेती में खरपरवार के कारण उपज में 10 से 40 प्रतिशत कमी आ जाती है । इसलिए इसका नियंत्रण बहुत ही जरूरी
        होता है । बीज बुआई के 30 से 35 दिन बाद तक खरपतवार को साफ़ करते रहना चाहिए । गेहूँ की खेती में दो तरह के खरपतवार
        होते है पहला सकड़ी पत्ते वाला खरपतवार जो की गेहूँ के पौधे की तरह हीं दिखता है और दूसरा चौड़ी पत्ते वाला खरपतवार
        ।
        इसके नियंत्रण हेतु 2 -4 डी का छिड़काव करे।

        <h3>खड़ी फसल की देखभाल;-</h3>
        कृषि वैज्ञानिको का कहना है की गेहूँ का गिरना यानी फसल के उत्पादन में कमी आना । इसलिए किसानों को खड़ी फसल का खास
        ख्याल रखना चाहिए और हमेशा सही समय पर फफूंदी नाशक दवा का इस्तेमाल करते रहना चाहिए और खरपतवार का नियंत्रण करते
        रहना चाहिए ।

        <h3>फसल की कटाई :-</h3>
        गेहूँ का फसल लगभग 125 से 130 दिनों में पक कर तैयार हो जाता है। फसल पकने के बाद सुबह सुबह फसल की कटनी करना चाहिए
        फिर उसका थ्रेसिंग करना चाहिए । थ्रेसिंग के बाद उसको सुखा लें । जब बीज पर 10 से 12 % नमी हो तभी इसका भंडारण करनी
        चाहिए ।</p>
</body>

</html>