<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><h3>climate:-</h3>
        Wheat cultivation requires low temperature at the time of sowing and dry and warm environment at the time of
        harvest. Therefore, wheat is mostly cultivated in the months of October or November.
        Land selection / preparation
        While cultivating wheat, the selection of land should be done well. The matiyar loam land is considered the best
        for the production of a good crop in the cultivation of wheat. But if the plants are given the right amount of
        fertilizer and irrigated at the right time, then by cultivating wheat on any light land, a good crop can be
        obtained. Before cultivation, the soil should be made fine by plowing it well, then by running a tractor on that
        soil, it should be leveled.
        <h3>Sowing :</h3>-
        The right time for sowing seeds in wheat cultivation is from November 15 to November 30. If sowing is done after
        25th December, the yield decreases at the rate of about 90 kg per hectare per day. Row to row distance should be
        20cm while sowing seeds.
        <h3>Seed treatment:-</h3>
        Before sowing the seed in wheat cultivation, the germination capacity of the seed must be checked, if the wheat
        seed is not treated, then before sowing the seed should be treated with some fungicide.
        <h3>Fertilizer Management:-</h3>
        For timely sowing in wheat cultivation, 120 kg nitrogen, 60 kg sfur and 40 kg potash are required. For 120 kg
        nitrogen, we should use at least 261 kg urea per hectare. Approximately 375kg of single super phoshphate(SSP)
        should be used for 60kg of sphur and at least 68kg of muerta potash should be used to provide 40kg of potash.
        <h3>Irrigation Management :-</h3>
        Timely irrigation is very important to get a good crop. Irrigation should be done at the time of Gabha in the
        crop and at the time of filling milk in the grains. If it rains during the winter season, then irrigation can
        also be reduced. According to agricultural scientists, when the strong wind starts blowing, then irrigation
        should be stopped for some time. Agricultural scientists also say that water should not be allowed to stagnate
        in the field for more than 12 hours. In wheat cultivation, the first irrigation should be done about 25 days
        after sowing. Second irrigation should be done after about 60 days and third irrigation after about 80 days.
        <h3>weed:-</h3>
        Due to weeds in the cultivation of wheat, the yield decreases by 10 to 40 percent. Therefore its control is very
        important. The weeds should be kept clear for 30 to 35 days after sowing the seeds. There are two types of weeds
        in the cultivation of wheat, the first hard-leafed weed which looks like a wheat plant and the second
        broad-leafed weed. For its control, spray 2 -4 d.
        Standing crop care
        Agricultural scientists say that the fall of wheat means that there is a decrease in the production of the crop.
        Therefore, farmers should take special care of the standing crop and should always keep using fungicide at the
        right time and keep control of weeds.
        <h3>Harvesting of Crop :-</h3>
        Wheat crop is ready to ripen in about 125 to 130 days. After the crop is ripe, the crop should be harvested in
        the morning and then threshing should be done. Dry it after threshing. It should be stored only when there is 10
        to 12% moisture on the seed. Climate:- Low temperature at the time of sowing and dry and warm environment at the
        time of crop ripening is required in the cultivation of wheat. Therefore, wheat is mostly cultivated in the
        months of October or November.
        <h3>weed:-</h3>
        Due to weeds in the cultivation of wheat, the yield decreases by 10 to 40 percent. Therefore its control is very
        important. The weeds should be kept clear for 30 to 35 days after sowing the seeds. There are two types of weeds
        in the cultivation of wheat, the first hard-leafed weed which looks like a wheat plant and the second
        broad-leafed weed. For its control, spray 2 -4 d.
        Standing crop care
        Agricultural scientists say that the fall of wheat means that there is a decrease in the production of the crop.
        Therefore, farmers should take special care of the standing crop and should always keep using fungicide at the
        right time and keep control of weeds.
        <h3>Harvesting of Crop :</h3>-
        Wheat crop is ready to ripen in about 125 to 130 days. After the crop is ripe, the crop should be harvested in
        the morning and then threshing should be done. Dry it after threshing. It should be stored only when there is 10
        to 12% moisture on the seed.</p>
</body>

</html>